.items-type{
    padding: 46px 0;
    background-color: #F2F3F6;
}
.item-type-content strong{
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #0B0C14;
}
.item-type-content span{
    margin: 0 10px;
}
.add-cart-item-type{
    padding-top: 60px;
}