#logo-search {
	padding-bottom: 43px;
	padding-top: 43px;
}

.company-logo img {
	width: 100%;
}

.search-bar-wrapper {
	margin-left: 50px;
	position: relative;
}

.search-bar-form {
	display: flex;
	justify-content: end;
}

.search-bar-wrapper .input-group {
	width: 100%;
}

.search-bar {
	padding: 19px 210px 19px 30px;
	border-radius: 12px;
	background-color: #F4F4F4;
	position: relative;
	z-index: 0;
}

.search-bar-wrapper .search-bar::placeholder {
	font-size: 16px;
	line-height: 19px;
	line-height: 500;
	color: #3F5B6C;
}

.search-bar-wrapper .search-bar:focus {
	z-index: 0;
	box-shadow: none;
}

.search-button {
	position: absolute;
	right: 0;
	z-index: 2;
	overflow: hidden;
}

.search-btn {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	padding: 16px 48px;
	background-color: #49B7D1;
	color: #FFFFFF;
	border-radius: 12px;
	overflow: hidden;

}

.search-btn i {
	font-size: 27px;
}

.wishlist {
	cursor: pointer;
}

.mycart {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.heart {
	margin-right: 50px;
	margin-left: 50px;
}

.cart-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.shopping-cart {
	position: relative;
	margin-right: 24px;
}

.shopping-cart::before {
	content: "";
	width: 22px;
	height: 22px;
	background-color: #49B7D1;
	border-radius: 50%;
	position: absolute;
	top: -7px;
	right: -13px;
	z-index: 0;
}

.cart-count {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	color: #FFFFFF;
	position: absolute;
	top: 5px;
	right: 90px;
}

.my-cart {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	color: #3F5B6C;
	display: block;

}

.cart-items-price {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	color: #49B7D1;
	display: block;
}

.Customer-dropdown .btn-success {
	background-color: transparent;
	border: none;
}

.Customer-dropdown .btn-success:hover {
	background-color: transparent;
	color: #3F5B6C;

}

.girl-img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.girl-img img {
	width: 100%;
}

.client-btn {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 600;
	color: #3F5B6C;
}

@media(max-width:1660px) {
	.search-bar {
		padding: 15px 21px;

	}

	.search-btn {
		padding: 12px 33px;
	}

	#logo-search {
		padding-bottom: 11px;
		padding-top: 17px;
	}

	.my-cart {
		font-size: 14px;
		line-height: 23px;
	}

	.cart-items-price {
		font-size: 14px;
		line-height: 17px;
	}

	.shopping-cart::before {
		width: 18px;
		height: 18px;
	}

	.cart-count {
		top: 1px;
		right: 72px;
	}

	.client-btn {
		font-size: 14px;
		line-height: 17px;
	}
}

@media(max-width:1399px) {
	#logo-search {
		padding: 25px 0;
	}

	.search-bar {
		padding: 9px 29px 9px 14px;
	}

	.search-bar-wrapper .search-bar::placeholder{
		font-size: 13px;
		line-height: 16px;
	}

	.search-btn {
		padding: 13px 17px;
		font-size: 14px;
		line-height: 17px;
	}

	.search-btn img {
		width: 15px;
	}

	.heart {
		margin-right: 0px;
		margin-left: 0px;
		width: 19px;
	}

	.heart img {
		width: 100%;
	}

	.shopping-cart {
		width: 19px;

	}

	.shopping-cart img {
		width: 100%;
	}

	.cart-count {
		top: 0;
		right: 64px;
	}

	.my-cart {
		font-size: 12px;
		line-height: 20px;
	}

	.cart-items-price {
		font-size: 12px;
		line-height: 15px;
	}

	.girl-img {
		width: 28px;
		height: 28px;
		margin-right: 5px;
	}

	.client-btn {
		font-size: 12px;
		line-height: 15px;
	}
}

@media(max-width:767px) {
	#logo-search {
		padding-top: 19px;
	}

	.mycart {
		padding-top: 15px;
		justify-content: space-between;
	}
}

@media(max-width:669px) {
	.search-btn {
		padding: 9px 14px;
		font-size: 11px;
		line-height: 13px;
	}

	.search-bar {
		padding: 4px 29px 3px 10px;
	}

	.search-bar-wrapper .search-bar::placeholder {
		font-size: 11px;
		line-height: 13px;
	}
}

@media(max-width:575px) {
	.search-bar-wrapper {
		margin-left: 0;
	}
}

@media(max-width:500px) {
	.search-bar {
		border-radius: 6px;
	}

	.search-btn {
		padding: 9px 9px;
		border-radius: 6px;
	}
}

@media(max-width:400px) {
	.search-bar-wrapper .search-bar::placeholder {
		font-size: 10px;
		line-height: 13px;
	}
}

@media(max-width:446px) {
	.search-btn img {
		display: none;
	}
}

@media(max-width:334px) {
	.search-button {
		right: 3px;
	}

	.my-cart {
		font-size: 11px;
		line-height: 19px;
	}
}