.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	color: #FFFFFF;
}

.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #FFFFFF;
	height: 2px;
	border-radius: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	color: #FFFFFF;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

#nav-bar {
	background-color: #1239A5;
	padding: 31px 0;
}

.grid-icon {
	width: 24px;
	height: 24px;
	margin-right: 12px;
}

.grid-icon img {
	width: 100%;
}

.categories-btn {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 600;
	color: #FFFFFF;
}

.nav-link {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	color: #FFFFFF;
	padding: 0 0 5px 0;
}

.nav-link:hover {
	color: #FFFFFF;
}

.nav-item {
	margin-left: 100px;
}

.categories .btn-success {
	background-color: transparent;
	border: none;
}

.categories .btn-success:hover {
	background-color: transparent;
	border: none;
}

.categories .dropdown-toggle::after {
	display: none;
}

.drop-down-icon {
	margin-left: 60px;
}

@media(max-width:1650px) {
	#nav-bar {
		padding: 16px 0;
	}

	.drop-down-icon {
		margin-left: 33px;
	}

	.categories-btn {
		font-size: 16px;
		line-height: 19px;
	}

	.nav-link {
		font-size: 16px;
		line-height: 19px;
	}

	.nav-item {
		margin-left: 70px;
	}
}

@media(max-width:1399px) {
	#nav-bar {
		padding: 16px 0;
	}

	.drop-down-icon {
		margin-left: 33px;
	}

	.categories-btn {
		font-size: 14px;
		line-height: 17px;
	}

	.nav-link {
		font-size: 14px;
		line-height: 17px;
	}

	.nav-item {
		margin-left: 70px;
	}

	.nav-item {
		margin-left: 35px;
	}

}

@media(max-width:1039px) {
	.nav-item {
		margin-left: 20px;
	}

	.nav-link {
		font-size: 14px;
		line-height: 17px;
	}
}

@media(max-width:991px) {
	.navbar-collapse {
		position: absolute;
		left: 0;
		top: 37px;
		right: 0;
		z-index: 1;
		background-color: #49B7D1;
		border-radius: 10px;
		padding: 10px 20px;
	}

	.navbar-toggler {
		border: none;
		color: #49B7D1;
		position: absolute;
		right: 0;
		top: -34px;
	}

	.navbar-toggler-icon {
		background-image: url(../../../Assets/Images/toggle-icon.svg);
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.client-dropdown {
		margin-left: 0;
	}

	.computers-col-wrapper {
		margin-bottom: 35px;
	}

	.phone-col-wrapper {
		margin-bottom: 35px;
	}
	#nav-bar {
		padding: 10px 0 0 0 ;
	}
	.categories-btn {
		font-size: 12px;
		line-height: 15px;
	}
	.grid-icon {
		width: 15px;
		height: 15px;
		margin-right: 7px;
	}
	.nav-item{
		margin: 0;
		padding: 4px 0;
	}
}
@media(max-width:767px){
	.navbar-toggler{
		top: -30px;
	}
}
@media(max-width:575px) {
	.drop-down-icon {
		margin-left: 6px;
	}
}