#youcansee{
    padding-top: 100px;
    padding-bottom: 100px;
}
.you-see-heading{
    margin-bottom: 60px;
}
.you-see-heading h3{
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
    color: #0B0C14;
}
@media(max-width:1399px){
    .you-see-heading h3 {
        font-size: 32px;
        line-height: 35px;
    }
    #youcansee {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}