#youcansee{
    padding-top: 100px;
    padding-bottom: 100px;
}
.you-see-heading{
    margin-bottom: 60px;
}
.you-see-heading h3{
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
    color: #0B0C14;
}