.shopping-item-wrapper{
    background-color: #F2F3F6;
    padding: 100px 100px 0 100px;
    height: 100%;
}
.shopping-items-details{
    display: flex;
    align-items: center;
}
.shopping-item-img{
    width: 130px;
    height: 130px;
    margin-right: 20px;
}
.shopping-item-img img{
    width: 100%;
}

.shopping-item-details{
    flex: 1;
}

.shopping-item-details h5{
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #0B0C14;
}
.shopping-items-details-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.shopping-items-details-wrapper strong{
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #0B0C14;
    margin-left: 20px;
}
.shopping-item-subtotal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.shopping-item-subtotal h6{
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    color: #0B0C14;
}
.shopping-item-subtotal strong{
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
    color: #0B0C14;
}
.shopping-item-shipping-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    position: relative;
}
.shopping-item-shipping-price::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #DFDFDF;
    bottom: -30px;
}

.shopping-item-shipping-price h6{
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    color: #0B0C14;
}
.shopping-item-shipping-price strong{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #87939E;
}
.shopping-item-total-price{
    display: flex;
    justify-content: space-between;
}
.shopping-item-total-price h6{
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    color: #0B0C14;
}
.shopping-item-total-price strong{
    font-size: 28px;
    line-height: 31px;
    font-weight: 700;
    color: #1239A5;
}
.shopping-item-total-price span{
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #87939E;
}
@media(max-width:1399px){
    .shopping-item-wrapper {
        background-color: #F2F3F6;
        padding: 60px 60px 0 60px;
    }

    .shopping-item-details h5 {
        font-size: 15px;
        line-height: 21px;
    }
    .shopping-items-details-wrapper strong {
        font-size: 17px;
        line-height: 20px;
    }
    .shopping-items-details-wrapper{
        margin-bottom: 20px;
    }
    .shopping-item-subtotal h6 {
        font-size: 19px;
        line-height: 22px;
    }
    .shopping-item-subtotal strong {
        font-size: 18px;
        line-height: 21px;
    }
    .shopping-item-shipping-price h6{
        font-size: 19px;
        line-height: 22px;
    }
    .shopping-item-shipping-price strong{
        font-size: 18px;
        line-height: 21px;
    }
    .shopping-item-shipping-price{
        margin-bottom: 44px;
    }
    .shopping-item-shipping-price::before{
        bottom: -16px;
    }
    .shopping-item-total-price h6{
        font-size: 19px;
        line-height: 22px;
    }
    .shopping-item-total-price strong{
        font-size: 20px;
        line-height: 23px;
    }
    .shopping-item-total-price span {
        font-size: 13px;
        line-height: 16px;
    }
    .shopping-item-img {
        width: 80px;
        height: 80px;
    }
}