.hvr-shutter-out-vertical {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	background: #FFFFFF;
	transition: all ease-in-out 0.3s;
}

.hvr-shutter-out-vertical:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #49B7D1;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
	color: white;
}

.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

#hottest-categories {
	padding-top: 100px;
}

.hottest-categories-heading {
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hottest-categories-heading h2 {
	font-size: 42px;
	line-height: 45px;
	font-weight: 700;
}

.hottest-categories-link {
	text-decoration: none;
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	color: #FEBE37;
}

@-webkit-keyframes hvr-buzz {
	50% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}

	100% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
}

@keyframes hvr-buzz {
	50% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}

	100% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
}

.hvr-buzz {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
	-webkit-animation-name: hvr-buzz;
	animation-name: hvr-buzz;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.HottestCategories-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 0;
	border: 1px solid #0B0C1433;
	border-radius: 20px;
	transition: all ease-in-out 0.3s;
	text-decoration: none;
	overflow: hidden;
}

.hottestcategories-card-img {
	display: block;
}

.hottestCategories-hover-img {
	display: none;
	margin-bottom: 26px;
}

.HottestCategories-col:hover .hottestcategories-card-img {
	display: none;
}

.HottestCategories-col:hover .hottestCategories-hover-img {
	display: block;
}

.categoreis-ist-card h5 {
	font-size: 22px;
	line-height: 25px;
	font-weight: 600;
	color: #FFFFFF;
}

.HottestCategories-col:hover h5 {
	color: #FFFFFF;
}

.hottestcategories-card-img {
	margin-bottom: 26px;
}

.HottestCategories-col h5 {
	font-size: 22px;
	line-height: 25px;
	font-weight: 600;
	color: #0B0C14;
	transition: all ease-in-out 0.3s;
}

.HottestCategories-col span {
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	color: #87939E;
	transition: all ease-in-out 0.3s;
}

.HottestCategories-col:hover span {
	color: #FFFFFF;
}

.slider-wrapper {
	padding-top: 30px;
}

.categories-slier-items {
	border: 1px solid #0B0C1433;
	border-radius: 20px;
	padding: 40px;
	margin: 0 10px;
}

.itmes-cart {
	display: flex;
	justify-content: space-between;
}

.discount {
	background-color: #F3283D;
	border-radius: 16px;
	display: flex;
	align-items: center;
}

.discount span {
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
	color: #FFFFFF;
	padding: 0 17px;
	display: block;
}

.red-heart {
	display: flex;
	justify-content: end;
}

.categories-items1 {
	width: 215px;
	margin: 0 auto;
	height: 260px;
}

.categories-items1 img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.categories-items-wrapper span {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	color: #87939E;
	display: inline-block;
	margin-bottom: 5px;
}

.categories-items-wrapper h6 {
	font-size: 22px;
	line-height: 25px;
	font-weight: 500;
	color: #3D5A6B;
	margin-bottom: 22px;
}

.categories-items-wrapper strong {
	font-size: 28px;
	line-height: 31px;
	font-weight: 700;
	color: #1239A5;
	margin-right: 20px;
	margin-bottom: 44px;
	display: inline-block;
}

.old-price {
	display: inline-block;
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
	color: #87939E;
	text-decoration: line-through;
}

.hp-card {
	background-color: #49B7D1;
	border-radius: 16px;
	display: flex;
	align-items: center;
}

.hp-card span {
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
	color: #FFFFFF;
	padding: 0 17px;
	display: block;
}

.slider-wrapper .slick-prev {
	left: 46%;
	top: 107%;
	width: 25px;
	height: 25px;
	box-shadow: -2px 2px 0 #0b0c14;
	transform: rotate(45deg);
}

.slider-wrapper .slick-next {
	right: 48%;
	top: 107%;
	width: 25px;
	height: 25px;
	box-shadow: -2px 2px 0 #0b0c14;
	transform: rotate(-135deg);
}

.countercart {
	display: flex;
	justify-content: space-between;
}

.counter {
	display: flex;
	border: 1px solid #D5D5D5;
	align-items: center;
}

.counter-reduce {
	font-size: 35px;
	line-height: 38px;
	font-weight: 500;
	color: #0B0C14;
	padding: 0 22px;
}

.counter-num {
	font-size: 17px;
	line-height: 20px;
	font-weight: 500;
	background-color: #F2F2F2;
	padding: 20px 30px;
	display: block;
}

.counter-num span {
	display: block;
}

.counter-increase {
	font-size: 35px;
	line-height: 38px;
	font-weight: 500;
	color: #0B0C14;
	padding: 0 22px;
}

.carticon {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #FEBE37;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media(max-width:1399px) {
	.hottest-categories-heading h2 {
		font-size: 31px;
		line-height: 34px;
	}

	.hottest-categories-link {
		font-size: 18px;
		line-height: 21px;
	}

	.HottestCategories-col h5 {
		font-size: 16px;
		line-height: 19px;
	}

	.hottestcategories-card-img {
		width: 50px;
		height: 50px;
	}


	.hottestcategories-card-img img {
		width: 100%;
		height: 100%;
	}

	.hottestCategories-hover-img {

		height: 50px;
	}

	.hottestCategories-hover-img img {
		width: 100%;
		height: 100%;
	}

	.hottest-categories-heading {
		margin-bottom: 30px;
	}

	.discount span {
		font-size: 15px;
		line-height: 18px;
	}

	.categories-items-wrapper span {
		font-size: 13px;
		line-height: 16px;
	}

	.categories-items-wrapper h6 {
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 10px;
	}

	.categories-items-wrapper strong {
		font-size: 20px;
		line-height: 23px;
		margin-right: 10px;
		margin-bottom: 15px;
	}

	.counter-num {
		padding: 13px 15px;
	}

	.counter-reduce {
		padding: 0 12px;
	}

	.counter-increase {
		padding: 0 12px;
	}

	.carticon {
		width: 47px;
		height: 47px;
	}

	.carticon img {
		width: 20px;
	}

	.categories-slier-items {
		padding: 28px;
	}

	.HottestCategories-col span {
		font-size: 13px;
		line-height: 16px;
	}

	.categories-slier-items {
		margin: 0 25px;
	}

	.categories-items1 {
		width: 144px;
		height: 222px;
	}

}

@media(max-width:991px) {
	#hottest-categories {
		padding-top: 50px;
	}

	.HottestCategories-col {
		margin-bottom: 15px;
	}

	.hottest-categories-heading h2 {
		font-size: 24px;
		line-height: 27px;
	}

	.hottest-categories-link {
		font-size: 16px;
		line-height: 19px;
	}

}

@media(max-width:575px) {
	.hottest-categories-heading {
		margin-bottom: 18px;
	}

	.hottest-categories-heading h2 {
		font-size: 20px;
		line-height: 24px;
	}

	.hottest-categories-link {
		font-size: 13px;
		line-height: 16px;
	}

	.slider-wrapper .slick-next {
		width: 17px;
		height: 17px;
		right: 43%;
		top: 105%;
	}

	.slider-wrapper .slick-prev {
		width: 17px;
		height: 17px;
		top: 105%;
	}

	.categories-items1 {
		width: 145px;
		height: 150px;
	}

	.categories-items-wrapper span {
		font-size: 12px;
		line-height: 15px;
	}

	.categories-items-wrapper h6 {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 5px;
	}

	.categories-items-wrapper strong {
		font-size: 16px;
		line-height: 19px;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.counter-num {
		font-size: 14px;
		line-height: 17px;
		padding: 8px 10px;
	}

	.counter-reduce {
		font-size: 23px;
		line-height: 27px;
	}

	.counter-increase {
		font-size: 23px;
		line-height: 27px;
	}

	.carticon {
		width: 27px;
		height: 27px;
	}

	.carticon img {
		width: 13px;
	}
}

@media(max-width:350px) {
	.hottest-categories-heading {
		margin-bottom: 10px;
		align-items: normal;
	}

	.hottest-categories-heading h2 {
		font-size: 15px;
		line-height: 18px;
	}

	.hottest-categories-link {
		font-size: 12px;
		line-height: 15px;
	}

	.discount span {
		font-size: 12px;
		line-height: 15px;
		padding: 0 9px;
	}

}