.people-lovedIt {
	padding-top: 100px;
}

.offers-heading {
	margin-bottom: 60px;
}

.offers-heading h3 {
	font-size: 42px;
	line-height: 45px;
	font-weight: 700;
	color: #0B0C14;
}

@media(max-width:1399px) {
	.offers-heading h3 {
		font-size: 32px;
		line-height: 35px;
	}

	.offers-heading {
		margin-bottom: 40px;
	}
}

@media(max-width:991px) {
	.offers-heading h3 {
		font-size: 24px;
		line-height: 27px;
	}
}

@media(max-width:575px) {
	.offers-heading h3 {
		font-size: 20px;
		line-height: 23px;
	}

	.offers-heading {
		margin-bottom: 20px;
	}

	#hot-Offers {
		padding-top: 60px;
	}
}