@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

@media(max-width:1920px) {
	.container {
		max-width: 1720px;
	}
}

@media(max-width:1670px) {
	.container {
		max-width: 1680px;
	}
}

@media(max-width:1550px) {
	.container {
		max-width: 1480px;
	}
}

@media(max-width:1399px) {
	.container {
		max-width: 1290px;
	}
}

@media(max-width:1199px) {
	.container {
		max-width: 1090px;
	}
}

.hvr-bounce-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	transition: all ease-in-out 0.6s;
}

.hvr-bounce-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1239A5;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	transition: all ease-out 0.6s;
	overflow: hidden;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
	color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.input-group{
	width: 71%;
}